javaknowledge/.idea/**
javaknowledge/target/**
golang/go.sum
golang/.vscode/launch.json
.gitignore.swp

golang/bestLine/cmd/bestline.prof
golang/bestLine/cmd/cmd
golang/bestLine/bestline.prof.bench
golang/**/*.pprof
