**/.idea/**
**/.bsp/**
**/target/**
.DS_Store
**/.DS_Store
golang/go.sum
golang/.vscode/launch.json
.gitignore.swp

golang/bestLine/cmd/bestline.prof
golang/bestLine/cmd/cmd
golang/bestLine/bestline.prof.bench
golang/**/*.pprof
golang/hash/hash.test
java_proj/leetcode/.idea/misc.xml
