**/.idea/**
**/.bsp/**
**/target/**
.DS_Store
**/.DS_Store
golang/go.sum
golang/.vscode/launch.json
.gitignore.swp

golang/bestLine/cmd/bestline.prof
golang/bestLine/cmd/cmd
golang/bestLine/bestline.prof.bench
golang/**/*.pprof
golang/hash/hash.test
java_proj/leetcode/.idea/misc.xml
scala_proj/leetcode_sc3/src/main/scala/tubi/interview/raw_access.log
**/.vscode/**
.gitignore
**/__pycache__/**
python_proj/*.out
python_proj/*.swp
python_proj/longgestStringWithCharDel.py
